
/* Footer */

.copy-right{
    background-color: #000;
    justify-content: center;
    text-align: center;
    padding-bottom: 10px;
    font-size: 20px;
    color: rgb(255, 255, 255);
  }
  .copy-right:hover{
    color: rgb(250, 129, 214);
  
  }
  
  .para{
    color: #fff;
  }
  
  .para:hover{
   color: rgb(250, 129, 214);
  }
  